---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
    firstname: "August",
    country: "China",
    occupation: "Software Engineer",
    hobbies: ["coding", "reading", "gaming"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "React", "Node.js"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
        p {
            color: yellowgreen;
            font-size: 1.5rem;
        }

        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>

    <p>Here are some information about me:</p>
    <ul>
        <li>First Name: {identity.firstname}</li>
        <li>Country: {identity.country}</li>
        <li>Occupation: {identity.occupation}</li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are : {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>

    <p>My skills are:</p>

    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I'm happy to be learning Astro!</p>}
    {finished && <p>I've finished the Astro tutorial!</p>}
    {
        goal === 3 ? (
            <p>My goal is to finish 3 projects with Astro.</p>
        ) : (
            <p>My goal is to finish {goal} projects with Astro.</p>
        )
    }
</BaseLayout>
